#MyDiv1{border: solid red 20px;
width: 200px;
height:200px; 
margin-bottom: 7px;
}
#MyDiv2{border: solid black 20px;
width: 200px;
height:200px; 
margin-bottom: 7px;}
#MyDiv3{border: solid yellow 20px;
width: 200px;
height:200px;
margin-bottom: 7px; 
}
#MyDiv4{border: solid red 20px;
width: 200px;
height:200px; 
margin-bottom: 7px;
}
#MyDiv5{border: solid maroon 20px;
width: 200px;
height:200px; 
margin-bottom: 7px;
}
#MyDiv6{border: solid brown 20px;
width: 200px;
height:200px; 
margin-bottom: 7px;
}
#MyDiv7{border: solid purple 20px;
width: 200px;
height:200px; 
margin-bottom: 7px;
}