body 
	{	background-image: url(1.jpg);
background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: top center;
		background-size: 100%
padding: 5px; 
    margin: 0 auto;
    width: 80%;
    opacity: 0.7;
    filter: alpha(Opacity=70);
 }
img	
	{ 	width:100% }
div 
	{	margin: 5px;
		border-radius: 0 20px}	
#mb
	{	font-family: Geneva, Arial, Helvetica, sans-serif;}
.a1 
	{ 	background-color: white;
		padding: 5px }
#b1 
	{	background-color:gainsboro;
		text-align: center;
		text-transform: uppercase;
		font-size: 150% 
background-image: url(actsii.png)
}
#b2 
	{ 	background-color: wheat;
		color: white;
		width: 20%;
	 
float: right; }

#b3 
	{ 	background-color: salmon;
		width: 75%;
		float: left }
#b4
   	{  	background-color:coral;
   		clear: both }